:root {
  --red900: #AB052D;
  --red700: #E8505B;
  --red500: #FFA5AC;
  --red300: #F7E6EA;
  --red100: #FFF7F9;

  --gray900: #2B3444;
  --gray700: #445562;
  --gray500: #A5B2BA;
  --gray300: #DAE1E9;
  --gray200: #EBEFF4;
  --gray100: #F2F5F8;

  --white900: #fff;

  --green900: #009890;

  --chatPrimary: #05AB83;

  --gradient: linear-gradient(268.59deg, #F5F7FA -50.31%, #A1B0C9 95.6%);

  --boxShadowList: 8px 8px 16px rgba(9, 0, 109, 0.08);
}