// ********************
// *** Сброс стилей ***
// ********************


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// *** Отключаем смену фона при автозаполнении хрома ***
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

// *** Отключаем нативную обводку у обязательных полей ***
input:invalid,
input:required {
  box-shadow: none;
}

// *** Убираем внешние отступы ***
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

// *** Упрощаем работу с изображениями ***
img {
  max-width: 100%;
  display: block;
}

// *** Наследуем шрифты для инпутов и кнопок ***
input,
button,
textarea,
select {
  font: inherit;
}

// *** Удаляем все анимации и переходы для людей, которые предпочитай их не использовать ***
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// *** Убираем подчеркивание у ссылок ***
a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:active:focus,
a:focus,
button:active:focus,
button:focus {
  outline: 0;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
}

input[type="text"],
input[type="submit"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: unset;
  cursor: pointer;
}

hr {
  border: none;
  margin: unset;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

// *** Удаление крестика из input[type="search"] со всех браузеров ***
input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}