// *** Если устройство поддерживает hover, тогда свойства будут работать при hover ***
@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// *** Если устройство не поддерживает hover, тогда свойства будут работать ***
@mixin no-hover {
  @media (hover: none) {
    @content;
  }
}

// *** Установка параметров шрифта ***
@mixin font($font-size: 16px, $line-height: 24px, $font-weight: null) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

// *** Установка transition ***
@mixin transition($property: all, $duration: 0.2s, $timing-function: ease, $transition-delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $transition-delay;
}

// *** Установка бэкграунда ***
@mixin bgc($image: null, $image2x: null, $color: null, $repeat: null, $size: null, $position: null) {
  background-color: $color;
  background-image: $image;

  // Retina-экранам
  @media (min-resolution: 2dppx) {
    background-image: $image2x;
  }

  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}

// *** Установка бордера через тень ***
@mixin box-sh($size, $color) {
  box-shadow: 0 0 0 $size $color;
}

// Str-replace function
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// Миксин для генерации font-face
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: $src;
  }
}

@mixin line-clamp($number-of-lines, $line-height: null) {
  display: -webkit-box;
  -webkit-line-clamp: $number-of-lines;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

  @if $line-height {
    max-height: calc(#{$number-of-lines} * #{$line-height});
  }
}
